/* Iteration count - how many times you want the animation to play*/
#example3 {
  margin: 0;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 174, 0);
}
#box-iteration {
  height: 20em;
  width: 20em;
  position: relative;
  background-color: rgb(241, 154, 241);
  animation-name: box-iteration-animation; /*defined our box-animation below now animation-name will apply it to our box div element*/
  animation-duration: 1.5s; /* how long the animation will last*/
  animation-delay: 1s;
  animation-iteration-count: 2; /* how many times you want the animation to loop ---this can also be (infinite) so never stops */
}
/*Animate box from left to right*/
@keyframes box-iteration-animation {
  0% {
    left: 0; /*because its relative its like it hasn't moved at all when set left 0*/
  }
  35% {
    left: -15em; /* to the left neg 15*/
  }
  70% {
    left: 15em; /* then at 70 percent to the right positive 15*/
  }
  100% {
    left: 0; /* then left zero so it goes back to its original position*/
  }
}
