#example1 {
  margin: 0;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 208, 0);
}
#box {
  height: 20em;
  width: 20em;
  position: relative;
  background-color: rgb(0, 255, 242);
  animation-name: box-animation; /*defined our box-animation below now animation-name will apply it to our box div element*/
  animation-duration: 3s; /* how long the animation will last*/
}

/*One way that you can animate elements is to use keyframes a keyframe animation is essentially just a
preset animation that you can apply to different elements.*/

/* Always define a keyframe animation with percentages. You always want to have 0 percent (starting point) and an ending point (100%)*/

/*Animate box from left to right*/
@keyframes box-animation {
  0% {
    left: 0; /*because its relative its like it hasn't moved at all when set left 0*/
  }
  35% {
    left: -15em; /* to the left neg 15*/
  }
  70% {
    left: 15em; /* then at 70 percent to the right positive 15*/
  }
  100% {
    left: 0; /* then left zero so it goes back to its original position*/
  }
}
